{% extends 'base.html' %}
 
{% block content %}
    <h1 align="center">{{ action_name }} questions</h1>
    <p align="center"><a class="admin-link" href="{{ url_for('questions') }}">Go back to questions</a></p>
    <div class="pass">
        <div class="container" id="image-c">
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token() }}
                {% for field in form if field.name != "csrf_token" and field.name != "submit" %}
                    {{ field.label() }}
                    {% if field.description %}
                        <i>{{ field.description }}</i>
                    {% endif %}
                    {{ field }}
                    <ul style="list-style-type: none;">
                        {% for error in field.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                {{ form.submit() }}
                <input type="reset" value="Reset">
            </form>
        </div>
 
    </div>
{% endblock %}
 