<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    
    <meta charset="UTF-8">
    <title>Hub</title>
</head>
<body>
    <div class="main">
        <br>
        <h1 class="webdev">Registration:</h1>
        <label class="socod" for="usr">Name:</label>
        <input type="text" class="socod" id="usr"><br>
        <label class ="socod" for="pwd">Password:</label>
        <input type="password" class="socod" id="pwd"><br>
        <label class ="socod" for="email">Email:</label>
        <input type="email" class="socod" id="email">
        <button type="button"  class="socod">Register</button>
    </div>
    





</body>
</html>